@charset "utf-8";
/* CSS Document */
*{ -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; outline: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent;}
html,body{ padding:0; margin:0; font-family:"Arial","微软雅黑"; font-size: 14px; color: #fff; background:#181f28 url(../images/cloth.png) repeat;}
html,body{-webkit-text-size-adjust:none;} 
h1,h2,h3,h4,h5,h6,div,span,ul,li,hr,p,input,select{ margin:0; padding:0;}
ul{list-style-type:none}
a{ text-decoration:none; border: none;}
a img{ border: none;}
form{margin:0; padding:0;}
button,input,optgroup,select,textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button,select {text-transform: none; }
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.fontRed,a.fontRed{color:#E75A49;}
.fontGreen,a.fontGreen{ color: #33CC00;}
.fontGray,a.fontGray{color:#999999;}
.fontGreen i,a.fontGreen i{transform: scale(1.5);}
.fontMute{color:#555;}
.fontOrange,a.fontOrange{color:#CC9933;}
.more{float: right; font-size:12px; color:#999999;}
.fontBlue,a.fontBlue{color:#3378b1;}



.globalBg{background:rgba(25,38,62,0.2) url(../images/bg_mark.png) no-repeat fixed; background-size: 100% 100%; width:100%; height:100%;position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;}
.globalBg:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}
.bgRed{ background: #E75A49;}
.bgGreen{ background: #33DD00;}
.bgOrange{ background: #CC9933;}
.bgGradul{background:rgba(25,39,53,0.6);background:-moz-linear-gradient(top, #2A343F, #17222D 70%);background: -webkit-gradient(linear, 0 0, 0 70%, from(#2A343F), to(#17222D));}

.caret {display: inline-block; width: 0; height: 0;margin-left: 2px;vertical-align: middle; border-top: 4px dashed; border-right: 4px solid transparent; border-left: 4px solid transparent;}


a.btn, button.btn{padding: 4px 25px; border:solid 1px #515D6E; color:#fff; font-size:12px; cursor:pointer; line-height:20px; display:block; float:left; margin:;}
.btn-group-lg a.btn, .btn-lg { padding: 5px 15px !important; font-size:13px;}
.btn-group-sm a.btn, .btn-sm { padding: 2px 6px !important; font-size:10px;}
a.btn:hover, button.btn:hover{background:rgba(25,39,53,1.0);border: 1px solid #5C7589; border-bottom-color:#0B50A2; opacity:1; box-shadow: 0 0 4px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);-moz-box-shadow: 0 0 4px rgba(0,0,0,.4);}
a.btn-group.open .dropdown-toggle {-webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;}
a.btn-default {background:rgba(25,39,53,0.5);}
a.btn-primary {background:rgba(25,39,53,0.4);background:-moz-linear-gradient(top, #2A343F, #17222D 70%);background: -webkit-gradient(linear, 0 0, 0 70%, from(#2A343F), to(#17222D));}
a.btn-color, button.btn-color {background:rgba(11,80,162,0.6); border-color:#0B50A2;}
a.btn-light, button.btn-light {background:rgba(255,255,255,0.03);border-color:#323b4c;}
a.dropdown-toggle, a.dropdown-toggle:hover{background:rgba(11,80,162,0.5);border-color:#0B50A2;}
.dropdown-toggle{position: relative; float: left;}
.btn.disabled, .btn[disabled]{pointer-events: none;cursor: not-allowed; filter: alpha(opacity=50); -webkit-box-shadow: none; box-shadow: none;opacity: .5;}
.btn i{line-height:20px;}


em.statusIcon{width: 18px;text-align: center;height: 18px;line-height: 22px;border-radius: 50%; color:#fff; display:inline-block; -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset; }
em.statusIcon i{transform: scale(1.5);}

.m-r-5{margin-right:5px;}
.m-r-10, a.m-r-10{margin-right:10px;}
.m-l-5{margin-left:5px;}
.m-l-35{margin-left:36px;}
.m-t-10{margin-top:10px;}
.blockArea.m-b-header{margin-bottom:84px;}
.blockArea.m-b-fix{position: absolute;top:84px;}

/*for capacity*/
.progress {background-color: #6C767E; height: 16px;overflow: hidden;}
.progressBar {font-size: 12px;line-height: 16px;color:#fff;transition: width .6s ease;} 
.progressBar em{padding-left:10px; font-style:normal;}
.progressTask{background-color:#3897E2;}
/*for step, complete progress*/
.progress-striped{background-color:rgba(0,0,0,.15) ; height: 16px;overflow: hidden; border-radius:;}
.progress-striped .progress-bar {float: left; width: 0;height: 100%; background-color: #124584; 
background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 6px 6px;
  background-size: 6px 6px;}
.progress-striped.stepDiv{height: 10px;margin: 0px 20px 10px;}

a.textlink, .textlink a{font-size: 12px; color: #97AAAF; padding:2px 4px; margin:2px;}
a.textlinkb, .textlinkb a{font-size: 14px; color: #3897E2; padding:2px 4px; margin:2px;}
a.textlink:hover, .textlink a:hover, a.textlinkb:hover, .textlinkb a:hover{color:#fff;}
a.textlinkb i, .textlinkb a i{vertical-align: text-bottom; width:14px;}

.scrollBar{overflow-x:hidden; overflow:-y:auto;}
.slimScrollBar{position: absolute; opacity: 0.8; border-radius: 4px; right: 2px;  background:#0B50A2;width: 5px;}
.slimScrollRail{position: absolute; top: 0px; border-radius: 0px; opacity: 0.4; right: 1px; background: #192735;width: 7px;}


#sideDiv { width:209px; border-right:1px solid #000; background:rgba(25,39,53,0.5) url(../images/left_bg_logo.png) center bottom no-repeat; position:fixed; left:0;top:0;bottom: 0;z-index: 1050; transition: all 0.3s ease;}
#content { margin-left: 210px;  margin-top: 45px; padding-top: 15px; min-height: 500px;min-width: 500px;-webkit-box-flex: 1; -ms-flex: 1 0 auto;flex: 1 0 auto; position: relative;transition: all 0.3s ease;}

/*left---------------------------------------------------*/
.left_top{ background: rgba(11,80,162,0.8); padding: 10px 2px 8px 10px;  border-bottom:1px solid #000; font-size:12px; }
.left_top .nameTop{ float:left;padding:4px 0;position:relative;}
.left_top .name{ float:left; /*font-size:16px;*/ overflow:hidden; width:142px; white-space: nowrap; word-break: keep-all; text-overflow: ellipsis;}
.left_top .name em{vertical-align: text-bottom; margin:0 4px;}
.left_top .ipJdt{ color: #9BA5A7;}
.left_top .ipJdt p{line-height:20px;}
.jdt{ display:inline-block; line-height: 0; font-size:0;  background: #9CA6A8; }
.jdt span{ display:inline-block; line-height: 0; font-size:0;background: #3797E1;}
.jdtText{display:inline-block; }
.left_top .jdt{height: 8px; margin: 10px 5px 10px 0; width: 70px;}
.left_top .jdt span{height: 8px; }

.tabRaw{ height:30px; width:100%; text-align: center; /*display:-moz-box; display:-webkit-box; display:box;*/ }
.tabRaw a{ color: #999999; width: 33.3%; height:32px; padding-top: 2px; border-right: 1px solid #000000;border-bottom: 1px solid #293847;  display: inline-block;/* -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;*/}
.tabRaw a.current{ color: #FFFFFF; background: transparent; font-size: 12px;border-bottom-width:0;border-right-width:0;}
.tabRaw a i{ vertical-align: text-bottom;padding-left: 10px; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; transform:scale(1.3);}
.tabRaw a:hover{background:rgba(25,39,53,1.0);-moz-opacity:1; -khtml-opacity: 1; opacity: 1;}
.tabRaw a:hover i{color:#fff;}
.tabRaw a.current:hover{background: transparent;}
.tabRaw a:first-child i{ vertical-align: text-bottom; filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1;}
.tabRaw a:last-child{border-right: none; }
.tabRaw a>sup{ display: inline-block; width: 14px; height: 14px; border-radius:50%; color: #FFFFFF;  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;}
.tabRaw a>sup>i{ padding: 0; margin: 0; font-style: normal; font-size:10px; color:#000;/* -webkit-transform:scale(0.8); display: inline-block;-moz-opacity:1; -khtml-opacity: 1;*/ opacity: 1}
.tabRaw a:hover>sup>i{color:#000;}

.sidebarContainer{bottom: 0;width: 209px;overflow: hidden; position: absolute;top: 132px;}
.sidebar{top: 0;bottom: 0; width: 209px;overflow: hidden;position: absolute;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}

.sidebaTitle{display: block; margin: 5px 15px 0; line-height: 30px; height: 30px;  border-bottom: 1px solid #0B50A2; color: #8a9396; font-size:12px;}

.menu {display: block; margin-bottom:40px;}
.menu:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}
.menu li{ position:relative;}
.menu li a{display: block; margin: 0 15px; padding:4px 2px; line-height: 28px; border-bottom: 1px solid #374551; color: #FFFFFF; opacity:.7; font-size:14px;}
.menu li a:hover{opacity:1.0; font-weight:;background:rgba(25,39,53,0.6);}
.menu li a:hover i{color:#0B50A2;}
.menu li i{ vertical-align: text-bottom; margin:0 10px 2px 5px; color:#9BA5A7; width:16px;}
.menu li.open{background:rgba(25,39,53,0.6);}
.menu li.open a{border-bottom:none; opacity:1.0; background:none; margin-left:10px;}

ul.sidebarNav{position:absolute; left:0; top:37px; width:100%;}
ul.sidebarNav li {padding-left:25px;}
ul.sidebarNav li a{line-height:24px;}
ul.sidebarNav li a:hover{opacity:1.0; background:rgba(25,39,53,0.8);}
.menu li.open,ul.sidebarNav li.select{border-left:6px solid #0B50A2; background:rgba(25,39,53,.8);}
ul.sidebarNav li.select{background:rgba(0,0,0,0.15);}
ul.sidebarNav li.select a{margin-left:9px;}
ul.sidebarNav li a:hover{background:rgba(0,0,0,0.1);}
ul.sidebarNav li.select a:hover{background:transparent;}
.menu li.open > a > i, .menu li .sidebarNav .select a i{color:#fff;}
.menu li.expand{border-left:0;}
.menu li.expand a{margin-left:15px;}

/*running task-------------*/
.taskList {display: block; margin: 0 15px; font-size:12px; opacity:.8;}
.taskList label{ display:block; line-height: 20px; margin:10px 0 5px; font-size:12px;background: rgba(25,39,53,0.5);}
.taskList .progress{margin:5px 0px; width:170px; }
.taskList .progressBar{}
.taskList li{padding:10px 0 4px;}
.taskName{line-height:18px;overflow:hidden; white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;}
.taskTime{color:#8a9396;}

.eventList {display: block; margin: 0 15px; font-size:12px; opacity:.8;}
.eventList label{ display:block; line-height: 20px; margin:10px 0 5px; font-size:12px;background: rgba(25,39,53,0.5);}
.eventList label em{font-size:16px; padding:0 4px;}
.eventList li{padding:10px 0 4px;}
.eventList .eventTime{line-height:16px; padding:5px 0;}
.eventList .eventTime em{ display:inline-block; width:5px; height:10px; margin-right:10px; }
.eventList .eventDesc{padding:5px 0;}

/*right-------------------------------------------------*/
/*top-------------*/
#topDiv{width: 100%; margin:0 auto;  position: fixed;z-index: 1030;top:0}
.headerBar{margin-left: 210px; padding:0 8px 0 25px; background: rgba(25,39,53,0.9); height: 45px; border-bottom: 1px solid #0C50A3;transition: all 0.3s ease;display: block;}
@font-face {font-family:AvantGarde;src: url(Avgardn.ttf);}
.sysName{font-faimily:AvantGarde; line-height: 45px; font-size: 22px; color: #3378B1; text-shadow: 0 -1px 0 #0B0E15; font-weight: 600;overflow:hidden; white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;}
.sysName span{ padding-left: 8px; color: #124584;}
.glysetting{padding-top:5px; position:relative;}
.glysetting a{ color: #fff; line-height: 40px; padding-left:5px; padding-right:5px; font-size:12px; display:inline-block; opacity:.6;}
.glysetting i{ padding:0 5px; transform:scale(1.5);}
.glysetting a:hover{opacity:1;}
.glysetting .dropdown-toggle{opacity:1; background:none;}
.glysetting a.dropdown-toggle:hover{ background:none;}
.glysetting .openDown{ position:absolute; left:0; top:40px;}
.glysetting .openDown a { line-height:16px;}


/*center---------*/
.centerRaw{ position: relative; top: 0px; left: 0; right: 0; overflow: hidden; clear:both; min-height: 380px;}

/*c-left*/
.leftCol{float: left; height: 100%; width:160px; position: absolute; margin-right: 20px;}

.jtTop{ height: 10px; position: absolute; top:10px; right: 0; left: 0px;bottom: 0; text-align: center; line-height: 0px;}
.jtDown{ height: 10px; position: absolute; right: 0; bottom: 0; left: 0px; text-align: center; line-height: 0px;}
.jtTop a,.jtDown a{  display: block; margin: 0 10%;  color:#fff; opacity:.6; font-size:18px;}
.jtTop a{border-bottom: 1px solid #515D6E;}
.jtDown a{border-top: 1px solid #515D6E}
.jtTop a:hover,.jtDown a:hover{ background: rgba(11,80,162,0.5); color:#fff;  opacity:1; border-color:#0B50A2;}
.jtTop i,.jtDown i{ line-height:12px; height:12px;}

.globalAction a, a.globalAction{ width:23px; height:24px; background:transparent;margin:0 auto; text-align:center; display:inline-block; color:#fff; opacity:.6;}
.globalAction a i{padding-top:4px; transform:scale(1.3)}
.globalAction a:hover, a.globalAction:hover{opacity:1;}
.globalAction a:hover i, a.globalAction:hover i{color:#fff;}
.nameTop .globalAction a{display: inline-block;float: left;}
.nameTop .openRight{position:absolute; right:0; top:-5px;}
.nameTop .globalAction a.dropdown-toggle{opacity:1;}

.minPic{ position: absolute; bottom: 17px; top: 20px; right: 0; left: 0px; overflow: hidden;}
.minPic li{ color: #D6D6D6; padding:8px 10px; margin:9px 0; border: 1px solid #374551; background: rgba(25,39,53,0.4); font-size:12px; text-align: center; cursor:pointer; border-right-width:2px;}
.minPic li h5{ font-size: 12px; font-weight: normal; text-align: left; padding-bottom: 10px; color:#8a9396; line-height:18px;}
.minPic li h5 span{ float: right;}
.minPic li h5 span i{ vertical-align: text-bottom; padding-right: 5px;}
.minPic li h2{color:#fff;font-size: 13px; font-weight: normal;line-height:22px;}
.minPic li>img{width: 90%; padding:5px 10px 2px 10px;}
.minPic .current{ color: #fff; background: rgba(255,255,255,0.05); opacity:1; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175); border-color:#5C7589;}
.minPic li:hover{background: rgba(255,255,255,0.05); opacity:1; }
.minPic li.borderRGreen{border-right-color:#33CC00;}
.minPic li.borderRRed{border-right-color:#CC0000;}
.minPic li.borderROrange{border-right-color:#CC9933;}

.dDiv{ position: absolute; text-align: center; width: 20px;  left:170px; top:36%; bottom:15px;}
.dDiv li a{font-size: 12px; line-height: 16px; color: #8a9396; margin:2px 0; display:inline-block;}
.dDiv li a:hover{font-size: 22px; color: #3897E2;}
.dDiv .current a{font-size: 18px; color: #3897E2;}
/*c-center*/
.picCol{ margin-left: 180px; height: 100%; padding: 10%; text-align: center;}
.picCol img{ /*height: 100%; width:100%;*/align-items: center;}

/*bottom---------------*/
.bottomRaw{ position: relative; bottom: 0; left:0; height: 220px; width: 100%; padding: 15px 0px 0; /*display:-moz-box; display:-webkit-box; display:box;*/}
.sxCol,.rlCol,.xnCol{ float: left; border: 1px solid #374551;  background: rgba(25,39,53,0.5); overflow: hidden; height:100%}

.sxCol{ width: 21%; margin-right: 0.9%;}
.rlCol{ width: 30%; margin-right: 0.9%; text-align:center;}
.xnCol{ width: 46.2%;text-align:center;}

.titleRaw{ height: 34px; background: rgba(25,39,53,0.7); text-align:left;}
.titleRaw h4{line-height: 30px; border-bottom: 1px solid #0C50A3; margin: 0 20px; font-weight:normal; padding-top:3px;}
.nrList{ color: #D6D6D6; padding: 10px 20px 5px 20px; color:#8a9396;}
.nrList:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}
.nrList li{ line-height: 24px; font-size: 12px;overflow:hidden; white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;}
.nrList li img{ vertical-align: text-bottom; padding-right: 4px;}

.capacityChart{margin-bottom:10px;}
.capacityChart span{padding:5px 10px; font-size:12px; color:#8a9396;}
.storagInfo{padding:5px 20px;color:#8a9396;border-top: 1px solid #374551; font-size:16px;}
.storagInfo big{color:#3897E2; font-size:24px;padding:0 4px 0 10px;}
.storagInfo small{color:#3897E2; font-size:12px;}
/*float layer---------------------------------------------------------*/
.rFloatDiv{ z-index: 1090; top: 75px;position: fixed; right: -260px;background: #192735; box-shadow: 0 0 2px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);-moz-box-shadow: 0 0 2px rgba(0,0,0,.4);width: 260px; -webkit-transition: right .2s linear;-moz-transition: right .2s linear;transition: right .2s linear;border-left: 1px solid #515D6E; border-top: 1px solid #515D6E;  border-bottom: 1px solid #515D6E; min-height:300px;}
.collapseBtn{position: absolute; left: -35px;top: 40px; margin-top: -20px;width: 35px;height: 35px;background:#0C50A3;border-radius: 4px 0 0 4px;box-shadow: -1px 0 3px -1px rgba(0,0,0,.4); -webkit-box-shadow: -1px 0 3px -1px rgba(0,0,0,.4);-moz-box-shadow: -1px 0 3px -1px rgba(0,0,0,.4);border-top: 1px solid #515D6E;  border-left: 1px solid #515D6E;  border-bottom: 1px solid #515D6E; cursor:pointer;}
a.collapseBtn i{color:#eee; transform:scale(1.5);}
a.collapseBtn:hover i{color:#fff;}
a.collapseBtn i{padding-top:8px;padding-left:11px;}
.active a.collapseBtn {background:#192735;}
.active a.collapseBtn i{ color:#0B50A2;}
.active a.collapseBtn:hover i{color:#fff;}

.rFloatDiv.active {right: 0;}
/*.rFloatDiv .button{ margin-top: 12px; width: 34px; height: 36px; line-height: 35px; background: #192735; text-align: center;
 border-top: 1px solid #627C8E;  border-left: 1px solid #627C8E;  border-bottom: 1px solid #627C8E;
 border-top-left-radius: 2px; border-bottom-left-radius: 2px;}
.rFloatDiv .button a{ color: #FFFFFF;}*/
.rFloatDiv .nr{ padding:10px 0; display:block; position:relative;}
.rFloatDiv .tittle{line-height: 36px; padding: 2px 15px 5px 15px; color: #FFFFFF; font-size:16px; opacity:.8;}
.rFloatDiv .tittle a{}
.tabDiv{width:100%;height: 35px;border-bottom: 1px solid #293847; border-top:1px solid #0e161e;}
.tabDiv div{/*border-bottom: 1px solid #0B50A2;*/ margin: 0 15px;}
.tabDiv div:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden; }
.tabDiv li a{float:left;  display:block; padding:0 10px;line-height: 33px; margin:0 1px 0 0;}
.tabDiv li a{font-size:14px; color:#8a9396; border-left:1px solid #0e161e;}
.tabDiv li a:hover{background:rgba(25,39,53,1.0);}
.tabDiv li.select a, .tabDiv li a.select{background:rgba(11,80,162,0.85);border-top: 1px solid #0B50A2;color:#fff;line-height: 34px; margin-top:-1px;}
.tabDiv li.select a:hover, .tabDiv li a.select:hover{background:rgba(11,80,162,0.85); }

.mainTabDiv{margin-top:10px;margin-bottom:3px;}
.mainTabDiv .tabDiv{padding:px;height: 38px;}
.mainTabDiv .tabDiv li{ }
.mainTabDiv .tabDiv li a {line-height: 36px;padding:0px 40px 0 35px; }
.mainTabDiv .tabDiv li a i{padding-right:6px;}

.contentBody .tabDiv{border-top:none;margin-top:5px;}
.contentBody .tabDiv li a {margin:0 2px; padding:0px 20px;border:1px solid #0e161e; border-bottom:none;}
.contentBody .tabDiv li.select a,.contentBody  .tabDiv li a.select{border:none;border-top: 1px solid #0B50A2;margin-top:-1px;}

.rFloatDiv .tabDiv{border-bottom:;}
.rFloatDiv .actionBar{ margin:20px 10px 10px;height: 38px;}

.rFloatDiv .clusterList{ display: block; width:100%;}
.rFloatDiv .clusterList li.select{ background: rgba(255,255,255,0.05)}
.rFloatDiv .clusterList li a{ margin: 0px 10px 0; padding-top:15px; padding-bottom:10px; overflow:hidden; display:block; border-bottom: 1px solid #364955;}
.leftPic{ width: 60px; padding-right: 5px; text-align: center; font-size: 12px; color: #9DA5A8; vertical-align:text-bottom;}
.leftPic span{ text-align:left; width:100%; display:inline-block;padding-top: 2px}
.leftPic em{ font-style:normal;width:100%; display:inline-block; line-height:20px; padding-top: 5px;}
.leftPic span.clusterIcon{text-align: center;}
.leftPic span.clusterIcon i{transform:scale(2.2); color:#3797E1; padding-top:5px;}

.rightInfo{ font-size:12px; color: #8a9396;}
/*.rightInfo i{padding-left:6px;}*/
.rightInfo ul{ margin: 0; padding: 0;}
.rightInfo li{line-height: 20px; /*-webkit-transform:scale(0.84);*/}
.rightInfo li:first-child { color: #FFFFFF;}
.rightInfo li:first-child i { vertical-align: text-bottom; }
.rightInfo li em i{padding:0 5px;}
.clusterList .jdt{height: 8px; margin: 5px 5px 5px 0; width: 50px;}
.clusterList .jdt span{height: 8px; }


.breadcrumb{padding:0;margin:0;background:0 0}
.breadcrumb>li {display: inline-block;line-height: 30px; font-size:12px;}
.breadcrumb>li a {color: #8a9396;}
.breadcrumb>li a:hover{color: #fff;}
.breadcrumb>a.active {color: #eee;}
.breadcrumb>a.active:hover{color: #eee;}
.breadcrumb > li + li:before { padding: 0 5px; color: #666; content: "/\00a0";}

.contentDiv{padding:0px 20px 10px; position:relative;}
.actionTopbar{margin:8px 0;}
.actionTopbar:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}
.filter-group, .filter-group a,.filter-group input{float:left;}
.filter-group .form-control{padding: 5px; border:solid 1px #515D6E; color:#fff; font-size:12px; cursor:pointer; line-height:20px; padding-left: 10px;background:rgba(25,39,53,0.5); padding-right: 40px; margin-top: 0px; margin-left: 10px;margin-right: 0px;width: 180px;}
.filter-group .form-control:hover{ border:solid 1px #5C7589;}
.filter-group a.btn {color: rgba(255, 255, 255, 0.7);padding: 5px 10px; margin-left:-1px;margin-top:0px;}

.input-groupA, .input-groupA a,.input-groupA input{float:left;}
.input-groupA .form-control{padding: 4px; border:solid 1px #515D6E; color:#fff; font-size:12px; cursor:pointer; line-height:20px; padding-left: 10px;background:rgba(25,39,53,0.5); padding-right: 40px; margin-top: 0px;margin-right: 0px;width: 180px;}
.input-groupA .form-control:hover{ border:solid 1px #5C7589;}
.input-groupA a.btn {color: rgba(255, 255, 255, 0.7);padding: 4px 10px; margin-left:-1px;margin-top:0px;}

.dropdown-menu { position: absolute;top:90%; left: 0;z-index: 1010; float: left;min-width: 120px; border: 1px solid #515D6E; -webkit-background-clip: padding-box;background-clip: padding-box;background:rgba(25,39,53,1);  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.actionTopbar div,.actionTopbar form{position: relative; display: inline-block;  vertical-align: middle;}
.open>.dropdown-menu {display: block;left: 0px;right: auto;}
ul.dropdown-menu{margin: 2px 0 0;text-align: left; color:#8a9396;font-size: 12px; padding:10px 0;}
.dropdown-menu li{ white-space: nowrap; word-break: keep-all; text-overflow: ellipsis; }
.dropdown-menu a{padding: 5px 25px; color:#fff; display:block;}
.dropdown-menu a:hover{ background: rgba(11,80,162,0.5);}
.dropdown-menu .divider { height: 1px; margin: 2px 20px; overflow: hidden; background-color: #374551;}
.dropdown-menu .disabled a,.dropdown-menu .disabled a:hover{color:#8a9396; background:transparent; opacity:.8;}
.dropdownTitle {padding: 5px 15px 5px 5px; border-bottom: 1px solid #0B50A2; color: #8a9396; font-size:12px;margin:0 20px 2px;}

.blockArea{padding: 0px 0px 15px; width:100%;float: left;background:rgba(25,39,53,0.4);box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); margin:0 0 10px;}
.blockArea .slimScrollDiv{position:relative;}
.blockArea .slimScrollBar,.blockArea .slimScrollRail{ right:-15px; width:14px;}
.contentDiv:after, .blockArea:after, .floatArea:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}
.fixedContent { margin-left:230px;padding-top:3px;}
.fixedContent :after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}
.fixedContent .tableHeader{margin-top:8px;margin-right:20px;}
.blockArea .tableHeader{margin-top:0;}
.actionTopbar+.blockArea{margin-top:10px;}
.fixedContent .actionTopbar{margin:4px 0 0px 15px; }
.floatArea{width:100%;position: fixed;z-index: 1020;left: 0;top: 45px; background:rgba(25,39,53,0.9);box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);}

.tableSelectInfo{ width: 40%;color: #8a9396;font-size: 12px;  padding-top: 10px;white-space: nowrap; overflow:hidden;float: left;margin-right: 10px;}
.tablePaganation{}

.fade { -webkit-transition: opacity .3s linear; transition: opacity .3s linear;}
.popupBackdrop { position: fixed; top: 0; right: 0;bottom: 0;left: 0; z-index: 1080;background-color: #fff; opacity:.1;}
button.close {-webkit-appearance: none;padding: 0;cursor: pointer;background: 0 0;border: 0;}
.close {float: right;font-size: 21px; font-weight: 700;line-height: 1;color: #fff;text-shadow: 0 1px 0 #000; filter: alpha(opacity=20);opacity: .3;}
button.close:hover{opacity:1;}

button.delete {-webkit-appearance: none;padding: 0;cursor: pointer;background: 0 0;border: 0;}
.delete {float: right;font-size: 21px; font-weight: 700;line-height: 1;color: #E75A49;text-shadow: 0 1px 0 #000; filter: alpha(opacity=20);opacity: .6;}
button.delete:hover{opacity:1;}

.popup{position: fixed;top: 0; right: 0; bottom: 0; left: 0; z-index: 1100; display: none;overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0;}
.popupDiv{position: relative;width: 620px;margin: 40px auto 20px;}
.popupContent{ position: relative; border: 1px solid #000; background: rgba(25,39,53,1) ; box-shadow: 0 0 7px rgba(0,0,0,.7);-webkit-box-shadow: 0 0 7px rgba(0,0,0,.7);-moz-box-shadow: 0 0 7px rgba(0,0,0,.7);min-height:200px;}
.popup.popLoading.LoadingPosition{ z-index:1025; margin-left:210px;}
.popLoading .popupDiv{ width:300px; margin-top:55px;}
.popLoading .popupContent{min-height:50px; background: rgba(11,80,162,1);} 
.loadingDiv{padding:20px; text-align:center;}

.contentHeader{padding:0 20px;background: rgba(0,0,0,0.1);}
.contentHeader h4{border-bottom: 1px solid #0C50A3; line-height:35px; padding:10px 0 5px; text-indent:2px; font-size:16px; font-weight:normal;}
.contentHeader button.close{padding-top:12px;}
.contentBody{position: relative;padding: 10px 20px;}
.contentFooter{ padding: 5px 0 0 20px; text-align: ; border-top:0px solid #364955; margin:0px 20px 20px 20px;}
.contentFooter a, .contentFooter button{ float:right;}
.contentHeader:after, .contentBody:after, .contentFooter:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}

.alertDesc { padding: 15px 0;border:none; background:none;  width:auto; opacity:.8;}
.alertDesc-info {color: #8a9396; font-size:12px;}
.popupContent .alertDesc { padding:10px 20px 5px; margin:0 20px;opacity:1;}

.actionInnerTd{margin:2px 10px;}
.actionInnerTd a{font-size:20px;color:rgba(255,255,255,0.4); margin:0 2px; cursor:pointer;width:22px;display: inline-block;vertical-align: text-top;}
.actionInnerTd a:hover{/*color:rgba(11,80,162,0.8);*/ color:rgba(255,255,255,0.9)}
.actionInnerTd i{transform: scale(1.2);  }


.suppleInfo{margin-top:10px;}
.dataTables_info{padding-top: 8px; white-space: nowrap;float: left;  margin-right: 15px; color:#8a9396;  display:block; max-width:350px;}
.dataTables_paginate {margin: 0;  white-space: nowrap;text-align: right;}
ul.pagination {display: inline-block;padding-left: 0;  border-radius: 0px;margin: 5px 0; white-space: nowrap;}
.pagination>li { display: inline;}
.pagination>li>a {color: #fff;  margin-left: 4px; position: relative; float: left;padding: 6px 12px; text-decoration: none; background: rgba(25,39,53,0.5);border: solid 1px #515D6E; cursor:pointer;opacity: .8;}
.pagination>li>a:hover {background:rgba(25,39,53,1.0);border: 1px solid #5C7589; border-bottom-color:#0B50A2; opacity:1; box-shadow: 0 0 4px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);-moz-box-shadow: 0 0 4px rgba(0,0,0,.4);}
.pagination>.active>a, .pagination>.active>a:hover{background: rgba(11,80,162,0.8); border-color:#515D6E;opacity: 1}
.pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>span:hover { opacity: .4;filter: alpha(opacity=50);  border-color: #515D6E;}
.previous,.next{ font-size:12px;}


.caret { display: inline-block; width: 0;  height: 0;margin-left: 2px;  vertical-align: middle; border-top: 4px dashed;  border-top: 4px solid\9; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.infoContent{background: rgba(0,0,0,.05);}
.infoContent > div{padding:5px 20px;}
.infoContent > div.resultDiv{padding:10px 20px; font-size:18px;}
.resultDiv i { padding:5px 10px; vertical-align:text-bottom;}
.resultDiv em{ float:right; font-style:normal;}
.detailSummary{background: rgba(0,0,0,.05);}
.detailSummary em{float:right; color:#97aaaf !important;}
.detailSummary li{ font-size:12px; line-height:18px; padding:3px 0;}


.contentBody fieldset{ border:1px solid #374551; margin:0;}
.contentBody fieldset + fieldset{ margin-top:5px;}
.contentBody legend{ padding:5px; font-size:14px; background-color:transparent;letter-spacing:2px; color:#8a9396;}
.ms-container {background: rgba(0,0,0,.05); width: 100%; }
.ms-arrow{width:20px; float:left; padding-left:15px;padding-top:45px; color:#fff;}
.ms-arrow i{font-size:20px; color: #3378B1;}
.ms-container .ms-selectable,.ms-container .ms-selection {  float: left; width: 46%;text-align:center;padding-top:10px;}
.ms-container .ms-selectable{padding-left:15px;}
.ms-container .ms-selection {float: right;padding-right:15px;}
.ms-container .ms-button{width:100%; padding:10px 0;}
.ms-container .ms-button button{ padding:2px 40px;}
.ms-container label{width:100%; text-align:center;padding:5px;}
.ms-container select{width:90%;}
.ms-container .ms-button button{ float:none;margin: 0 auto; text-align:center;}
.ms-container .ms-list{background: rgba(0,0,0,.05);padding:10px 20px;}
.ms-container .ms-list li{border-bottom: 1px dotted #374551; line-height:28px; text-indent:10px;}
.ms-container .ms-list li button{padding-right:10px; padding-top:4px;}
.ms-container .ms-list li i{padding:0 10px 0 0; color: #3378B1;}