/* ===========
   Checkbox and Radio
 =============*/
input[type="text"]:disabled {
  opacity: 0.5;
} 
input[type="password"]:disabled {
  opacity: 0.5;
} 
input[type="checkbox"]:disabled {
  opacity: 0.5;
} 
 
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}
.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #484F5C;
  border-radius: 1px;
  border: 1px solid #666A76;
  content: "";
  display: inline-block;
  height: 12px;
  left: 0;
  margin-left: -30px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 12px;
  outline: none !important;
}
.checkbox label::after {
  color: #555555;
  display: inline-block;
  font-size: 11px;
  height: 12px;
  left: 0;
  margin-left: -30px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  width: 12px;
}
.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox.checkbox-single label {
  height: 17px;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #3bafda;
  border-color: #3bafda;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #ef5350;
  border-color: #ef5350;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #3ddcf7;
  border-color: #3ddcf7;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #ffaa00;
  border-color: #ffaa00;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #00b19d;
  border-color: #00b19d;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-purple input[type="checkbox"]:checked + label::before {
  background-color: #7266ba;
  border-color: #7266ba;
}
.checkbox-purple input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-pink input[type="checkbox"]:checked + label::before {
  background-color: #f76397;
  border-color: #f76397;
}
.checkbox-pink input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-inverse input[type="checkbox"]:checked + label::before {
  background-color: #4c5667;
  border-color: #4c5667;
}
.checkbox-inverse input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}
.radio label::before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  outline: none !important;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 17px;
}
.radio label::after {
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #555555;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 11px;
  left: 3px;
  margin-left: -20px;
  position: absolute;
  top: 3px;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 11px;
}
.radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:focus + label::before {
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted;
}
.radio input[type="radio"]:checked + label::after {
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio.radio-single label {
  height: 17px;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #3bafda;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #3bafda;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #3bafda;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #ef5350;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #ef5350;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #ef5350;
}
.radio-info input[type="radio"] + label::after {
  background-color: #3ddcf7;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #3ddcf7;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #3ddcf7;
}
.radio-warning input[type="radio"] + label::after {
  background-color: #ffaa00;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #ffaa00;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #ffaa00;
}
.radio-success input[type="radio"] + label::after {
  background-color: #00b19d;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #00b19d;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #00b19d;
}


/*-Input-*/
.form-control {
  display: inline-block;
  width: auto;
  padding: 4px 10px;
  margin:0px 4px;
  line-height:20px;
  font-size: 12px;
  color: #fff;
  background:rgba(25,39,53,1);
  background-image: none;
  border: 1px solid #515D6E;
  border-radius:0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-control:focus {
  background: rgba(255,255,255,0.05);
  border: 1px solid #5C7589;
  box-shadow: none;
  color:#fff;
}
select.form-control{
	height: 28px;
  line-height: 28px; border-radius: 0px;}
/* ===========
   Tables
 =============*/
/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size:14px;
}

table > tbody > tr > td:first-child,table > thead > tr > th:first-child {
    padding-left:25px;
}
table > tbody > tr > td:last-child,table > thead > tr > th:last-child {
    padding-right:25px;
}
table > tbody > tr > td >table > tbody > tr > td:first-child,table > thead > tr > th >table > thead > tr > th:first-child {
    padding-left:0px;
}
table > tbody > tr > td > table > tbody > tr > td:last-child, table > thead > tr > th > table > thead > tr > th:last-child  {
    padding-right:0px;
}

table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  line-height: 1.42857143;
  vertical-align: top;
  border-bottom: 1px solid #374551;
  padding: 8px 10px;
  text-align:left;
}
.tableHeader table > thead > tr > th {
    font-weight: normal;
	vertical-align: bottom;
	border-bottom-color:#0B50A2;
}
.table-hover > tbody > tr:hover > td,.table-hover > tbody > tr:hover > th{
    background:rgba(11,80,162,0.2);}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background:rgba(25,39,53,0.2);
}
table > tbody > tr.selected{background:rgba(11,80,162,0.5);}

.tableHeader{
  background: rgba(25,39,53,0.9);  padding:0 15px; margin-top:15px;
}
.tableHeader:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}
.tableBody{margin:0 15px;}


table thead .sorting,
table thead .sorting_asc,
table thead .sorting_desc,
table thead .sorting_asc_disabled,
table thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative;
}

table thead .sorting:after,
table thead .sorting_asc:after,
table thead .sorting_desc:after {
	font-family: 'Material-Design-Iconic-Font';
	opacity: 0.6;
    padding-left: 5px;
}

table thead .sorting:after {
	opacity: 0.3;
	content: '\f30c'; /* sort */
}
table thead .sorting_asc:after {
	content: '\f2fe'; 
}
table thead .sorting_desc:after {
	content: '\f303'; 
}

table thead .sorting_asc_disabled:after,
table thead .sorting_desc_disabled:after {
	color: #eee;
}


label{display: inline-block;max-width: 100%;}
.table-input td{padding:4px; line-height:22px;}


.contentBody table{background: rgba(0,0,0,.05); font-size:12px;}
.contentBody table thead{background: rgba(0,0,0,.05);}
.contentBody td{padding:;}
table > tbody > tr > td:first-child > label {
  padding-top:;
  margin-bottom: 0;
  /*float: right;*/}
.contentBody table > tbody > tr > td:first-child,.contentBody table > thead > tr > th:first-child {
    padding-left:20px;
}
.contentBody table > tbody > tr > td:last-child,.contentBody table > thead > tr > th:last-child {
    padding-right:20px;
} 
.contentBody table > tbody > tr.selected{background:rgba(11,80,162,0.5);} 

.contentBody table > tbody > tr > td:first-child >table > tbody > tr > td:first-child,.contentBody table > thead > tr > th:first-child >table > thead > tr > th:first-child {
    padding-left:0px;
}
.contentBody table > tbody > tr > td:last-child > table > tbody > tr > td:last-child,.contentBody table > thead > tr > th:last-child > table > thead > tr > th:last-child  {
    padding-right:0px;
}

table > tbody > tr > td > .form-control{
	margin-left:0;}
.table-input em{ font-size:12px; font-style:normal; opacity:.7;}	

.table-detail td{padding:5px; line-height:20px;}
.table-detail td{border-bottom:dotted 1px #2b3243;}

tr.tdSon{background:rgba(0,0,0,0.2)}
.tdFather>td i{padding-right:25px; cursor:pointer;opacity:.6;}
.tdFather>td i:hover{opacity:1;}
.tdSon>td i{cursor:pointer; opacity:.6;}
.tdSon>td:first-child{padding-left:70px;}
.tdFather>td:first-child{padding-left:25px;}
table>tbody>tr.tdSon >td{ border-bottom-style:dotted;}


/**** alert **/
.alertDiv{position:fixed; bottom:-20px; z-index:1080; right:0; left:210px;}
.alert{padding:10px 35px 12px;margin-bottom:20px;border-top:1px solid #000; width:100%;}
.alert h4{margin-top:0;color:inherit;}
.alert .alert-link{font-weight:700;color:inherit; padding:0 5px;opacity: .8;}
.alert .alert-link:hover{color:#192735;opacity: 1;}
.alert>p, .alert>ul{margin-bottom:0;}
.alert>p+p{margin-top:5px;}
.alert-dismissable,.alert-dismissible{padding-right:45px;}
.alert-dismissable .close,.alert-dismissible .close{position:relative;top:0px;right:-20px;color:inherit;}
.alert-dismissable .close:hover,.alert-dismissible .close:hover{color:#192735;}

.alert-success{color:#ccffcc;background-color: rgba(98, 225, 52, 0.45);border-color: rgba(51, 221, 0, 0.9); }
.alert-info{color:#31708f;background-color: rgba(51, 221, 0, 0.15);border-color: rgba(51, 221, 0, 0.9);}
.alert-warning{color:#FFFFCC;background-color: rgba(204, 153, 51, 0.45);border-color: rgba(204, 153, 51, 0.9);}
.alert-danger{color:#FFCCCC;background-color: rgba(231, 90, 73, 0.45);border-color: rgba(231, 90, 73, 0.9);}



/*** RangeSlider ***/

.irs {
    position: relative; display: block;
}
    .irs-line {
        position: relative; display: block;
        overflow: hidden;
    }
        .irs-line-left, .irs-line-mid, .irs-line-right {
            position: absolute; display: block;
            top: 0;
        }
        .irs-line-left {
            left: 0; width: 10%;
        }
        .irs-line-mid {
            left: 10%; width: 80%;
        }
        .irs-line-right {
            right: 0; width: 10%;
        }

    .irs-diapason {
        position: absolute; display: block;
        left: 0; width: 100%;
    }
    .irs-slider {
        position: absolute; display: block;
        cursor: default;
        z-index: 1;
    }
        .irs-slider.single {
            left: 10px;
        }
            .irs-slider.single:before {
                position: absolute; display: block; content: "";
                top: -30%; left: -30%;
                width: 160%; height: 160%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.from {
            left: 100px;
        }
            .irs-slider.from:before {
                position: absolute; display: block; content: "";
                top: -30%; left: -30%;
                width: 130%; height: 160%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.to {
            left: 300px;
        }
            .irs-slider.to:before {
                position: absolute; display: block; content: "";
                top: -30%; left: 0;
                width: 130%; height: 160%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.last {
            z-index: 2;
        }

    .irs-min {
        position: absolute; display: block;
        left: 0;
        cursor: default;
    }
    .irs-max {
        position: absolute; display: block;
        right: 0;
        cursor: default;
    }

    .irs-from, .irs-to, .irs-single {
        position: absolute; display: block;
        top: 0; left: 0;
        cursor: default;
        white-space: nowrap;
    }


.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        top: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        bottom: 0; left: 0;
        width: 100px;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        color: #000;
    }

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: 0;
    width: 100%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.irs-disabled {
    opacity: 0.4;
}




.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
    background: url(../images/sprite-skin-nice.png) repeat-x;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
	width:380px;
}
.irs-line {
    height: 8px; top: 25px;
}
    .irs-line-left {
        height: 8px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 8px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 8px;
        background-position: 100% -30px;
    }

.irs-diapason {
    height: 8px; top: 25px;
    background-position: 0 -60px;
}

.irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -90px;
}
#irs-active-slider, .irs-slider:hover {
    background-position: 0 -120px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 2px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 0px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #000;
    font-size: 12px; 
	line-height: 1.333;
    text-shadow: none;
    padding: 2px 5px;
    background: rgba(255,255,255,.9);
    border-radius: 2px;
	margin-top:-5px;
	font-weight:bold;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #666;
}

.irs-grid-pol {
    background: #777;
}
.irs-grid-text {
    color: #99a4ac;
}

.irs-disabled {
}
 
.irs-hidden-input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-color: transparent !important;
    border-style: solid !important;
    display: block !important;
    font-size: 0 !important;
    height: 0 !important;
    left: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    outline: medium none !important;
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 0 !important;
    z-index: -9999 !important;
}


/**tree table**/
table.treetable span.indenter {
  margin: 0;
  padding: 0;
  text-align: right;

  /* Disable text selection of nodes (for better D&D UX) */
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;

  /* Force content-box box model for indenter (Bootstrap compatibility) */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  width: 19px;
}

table.treetable span.indenter a {
  background-position: left center;
  background-repeat: no-repeat;
  text-decoration: none;
  width: 19px;
  display: inline-block;
}
table.treetable span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}
table.treetable tr.collapsed span.indenter a {
 background-image: url(../images/icon_arrow_right.png);
}

table.treetable tr.expanded span.indenter a {
  background-image: url(../images/icon_arrow_down.png);
}

/*table.treetable tr.branch {
  background:rgba(0,0,0,.06);
}*/
table.treetable tr.branch.collapsed td,table.treetable tr.leaf.collapsed td{
  /*background:rgba(0,0,0,.06);*/
  /*border-bottom: 1px dotted #374551;*/
}
table.treetable tr.selected {
  background: rgba(11,80,162,0.5);
}

table.treetable tr span.indenter a {
  outline: none; 
}

table.treetable tr.collapsed.selected span.indenter a {
background-image: url(../images/icon_arrow_right.png);
}

table.treetable tr.expanded.selected span.indenter a {
background-image: url(../images/icon_arrow_down.png);
}

table.treetable tr.accept {
 background: rgba(11,80,162,0.5);
}

table.treetable tr.collapsed.accept td span.indenter a {
  background-image: url(../images/icon_arrow_right.png);
}

table.treetable tr.expanded.accept td span.indenter a {
  background-image-image: url(../images/icon_arrow_down.png);
}