.device{clear:both;position:relative; width:100%; height:100%;}
.frontDevice,.backDevice{position:relative;  margin:120px auto 10px; text-align:center; width:545px;}
.frontDevice{margin-top:130px;}
.frontDevice:after, .backDevice:after{clear:both; float:none; content:"."; font-size:1px; line-height:1px;}
.frontDevice .img,.backDevice .img{position:absolute;z-index:1;top: 0px;left:0px;}
.frontDevice .cover{position:absolute;z-index:10;top: 0px;left:0px;}
.backDevice{top:-10px; left:15px;}

.frontDevice .cover ul{padding-left:25px;padding-top:70px;width:540px; z-index:10;}
.frontDevice .cover li{display:block;float:left;width:19px;height:82px;line-height:24px;margin:0px 1px 0 0 ;position:relative;font-size:10px;}
.frontDevice .cover.status ul{z-index:8;}
.frontDevice .cover li.spaceLi{margin-left:6px;}

.frontSlot12 .cover li{height:28px;width:120px; margin:1px; margin-right:2px;}
.frontSlot12 .cover ul{padding-top: 44px;}

.enclosure .eHover{position:absolute; left:0px; top: 62px; width: 542px; height: 96px;z-index: 20;}
.enclosure .eDiv{position:absolute;left: 0; top: 0; width: 542px;height: 60px;z-index: 5;}
.frontSlot12 .enclosure .eHover{top: 42px; height: 96px;}
.frontSlot12 .enclosure .eDiv{height: 42px;}

.backDevice .coverB {position:absolute;z-index:10;top: 0px;left:0px;}
.backDevice .coverB ul{padding-left:25px;padding-top:66px;width:540px; z-index:10;}
.backDevice .coverB li{position: absolute;}
.backDevice .imgPortL,.backDevice .imgPortR{display:none;position: absolute; z-index: 2;top: 0px;}
.backDevice .imgPortL{left: 150px;}
.backDevice .imgPortR{left: 395px;}

.statusRed{background: rgba(236,65,44,0.5); border:solid 2px #ec412c;}
.statusOrange{background: rgba(226,156,17,0.5); border:sol	id 2px #e29c11;}
.statusGreen{background: rgba(87,51,221,0.5); border:solid 2px #33dd00;}

.hover {background: rgba(64,149,232,0.5); border:solid 2px #134ea8;}
.hoverB {background: rgba(64,149,232,0.5); border:solid 2px #3897E2;}
.cover .no_pd{background: rgba(0,0,0,0.8);}
/*.deviceName{padding:10px; font-size:18px; color:#9BA5A7; margin-left:-50px; margin-top:20px;}*/
.deviceName {font-size: 18px;color: #9BA5A7; /*margin-left: -120px;*/position: absolute; text-align: center;width: 100%; top: 320px; z-index:1;}

.switchIcon a{position: absolute; right: 60px;top: 220px; width: 50px;height: 50px;background: rgba(25,39,53,0.4); border:solid 1px #5C7589;border-radius: 30px;box-shadow: -1px 0 3px -1px rgba(0,0,0,.4); -webkit-box-shadow: -1px 0 3px -1px rgba(0,0,0,.4);-moz-box-shadow: -1px 0 3px -1px rgba(0,0,0,.4); cursor:pointer; z-index:100;}
.switchIcon a i{color:#4095e8; transform:scale(1.5); padding-top:10px;padding-left:0px; font-size:18px;}
.switchIcon a:hover{background:#134ea8; border:solid 1px #374551;}
.switchIcon a:hover i{color:#fff;}


.tooltip {background: rgba(25,39,53,.9);border: 1px solid #515D6E;font-size: 11px; position: absolute; visibility: visible; box-shadow: 0px 0px 5px #aaa; border-radius: 2px;z-index: 99;box-shadow: 0 6px 12px rgba(0,0,0,.4);min-width: 100px;}	
.tooltipTable { padding: 8px; border-collapse: separate; text-align:left;font-size:12px;}
.tooltip .bgArrow{position: absolute;top:0px; }
.tooltip .arrowDown{content: "";display: block;height: 0;position: absolute; width: 0; border:10px solid; border-color:#124584 transparent; border-bottom-width:0;}
/*.tooltip .arrowTopBorder{content: "";display: block;height: 0;position: absolute; width: 0; border:7px solid; border-color:#77aaff transparent  ; border-top-width:0;top:1px; left:-1px;}*/
.tooltipTable.table-input td{padding: 3px 8px;line-height: 16px;}
.tooltipTable.table-input td.title{ text-align:center; line-height:20px;background:rgba(255,255,255,0.05); font-size:14px; display:table-cell; margin:0;}

.tooltipCenter{position: absolute; top: 0; right: 0; bottom: 0;left: 0; z-index: 100; -webkit-overflow-scrolling: touch; outline: 0;}
.tooltipCenter .tooltip{position:relative;width: 110px; bottom:83px; margin:0 auto;}
.tooltipCenter .tooltip .gbArrow{position:relative; margin-left:39%;}


.monitorBody{margin:10px 15px;}
.colTwo{position:relative;height: 370px;width: 100%;}
.colTwo div#container1, .colTwo div#container2,.colTwo div#container3, .colTwo div#container4{ width:49.5%;padding:10px 0 0; background:rgba(25,39,53,.5); margin:5px 0 10px;height:360px}
.colTwo .coverSpecial {position:absolute; bottom:0px; z-index:100; width:100%; }
.coverSpecial span{left:0; width:49.5%;padding:0;height:18px; background:rgba(25,39,53,1); display:block; }

.monitorBody .colTwo img{width:auto;height:auto;max-width:100%;max-height:100%; margin-bottom:15px;}
