.login{margin: 11% auto; width: 400px;position: relative;}
.loginContent{ border:solid 1px #192735; border-top-color: #0B50A2; background: rgba(25,39,53,.7); box-shadow: 0 0 7px rgba(0,0,0,.7);   -webkit-box-shadow: 0 0 7px rgba(0,0,0,.7); -moz-box-shadow: 0 0 7px rgba(0,0,0,.7);padding: 40px 50px 40px 45px;}
.login .loginHeader{margin:5px 0 5px 8px;}
.login .sysName{font-size:28px;  text-align:left; line-height:40px; float:left;}
.login .logo{ float:right;}
.login .logo img{margin-bottom: -10px;}
.login .form-control{height: 40px; padding-left: 50px; background:rgb(0,0,0,.7); border:solid 1px #192735; margin:0; margin-bottom:25px; width:100%; font-size:14px; outline:none;}
.login .form-group{position:relative;}
.form-control-icon {position: absolute; top: 0; left: 8px; z-index: 2; display: block; width: 34px; height: 40px; line-height: 40px; text-align: center; pointer-events: none; color:#0B50A2;font-size:18px;}

.login-buttons button{width:100%; font-size:14px; letter-spacing:4px;height: 36px;}
.login-buttons:after{clear: both;content: "."; display: block;font-size: 1px; height: 0;visibility: hidden;}
.copyright{color: #8a9396;padding:15px 0 0; text-align:center; margin:5px auto 0; display:block; opacity:.6;}

.textResult{display:none; font-size:12px; position:absolute;bottom: 4px;left: 50px;}




#guideIndex .headerBar{margin-left:0;}
#guideIndex #content{margin-left:0;}
#guideIndex #content .contentDiv{padding-left:80px; padding-right:70px;}

/*#guideIndex .lBtn, #guideIndex .rBtn{z-index: 1090; top: 275px;position: fixed;}
#guideIndex .lBtn a, #guideIndex .rBtn a{ cursor:pointer; display:block;}
#guideIndex .lBtn a:hover, #guideIndex .rBtn a:hover{color:#fff;}
#guideIndex .lBtn span, #guideIndex .rBtn span{float:left; padding:15px 8px 12px; margin:0px 5px; background:rgba(11,80,162,0.5); box-shadow: 0 0 2px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);-moz-box-shadow: 0 0 2px rgba(0,0,0,.4);width: 33px; -webkit-transition: right .2s linear;-moz-transition: right .2s linear;transition: right .2s linear; border: 1px solid #515D6E; line-height:18px; opacity:.8;border-radius: 0 4px 4px 0;}
#guideIndex .lBtn a:hover span, #guideIndex .rBtn a:hover span{opacity:1; background:rgba(25,39,53,1.0);border: 1px solid #5C7589; border-bottom-color:#0B50A2; opacity:1; box-shadow: 0 0 4px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);-moz-box-shadow: 0 0 4px rgba(0,0,0,.4);}
#guideIndex .lBtn i, #guideIndex .rBtn i{ float:right; margin-top:42px;color:#0C50A3; transform:scale(1.5);}
#guideIndex .lBtn a:hover i, #guideIndex .rBtn a:hover i{color:#fff;}
#guideIndex .lBtn span{float:right;border-radius: 4px 0 0 4px;}
#guideIndex .lBtn i{ float:left;}
#guideIndex .lBtn{left:6px;}
#guideIndex .rBtn{right:6px;}*/

#guideIndex .lBtn, #guideIndex .rBtn{z-index: 1090; top: 110px;position: fixed;}
#guideIndex .lBtn a, #guideIndex .rBtn a{ cursor:pointer; display:block;}
#guideIndex .lBtn a:hover, #guideIndex .rBtn a:hover{color:#fff;}
#guideIndex .lBtn span, #guideIndex .rBtn span{float:left; padding:50px 6px 15px 8px; margin:0px 5px 0 -2px;color:#eee; font-family:; background:rgba(11,80,162,0.5); box-shadow: 0 0 2px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);-moz-box-shadow: 0 0 2px rgba(0,0,0,.4);width: 42px; -webkit-transition: right .2s linear;-moz-transition: right .2s linear;transition: right .2s linear; border: 1px solid #515D6E; line-height:18px; opacity:.8;border-radius: 0 4px 0 0; font-size:12px; letter-spacing:1px;}
#guideIndex .lBtn a:hover span, #guideIndex .rBtn a:hover span{opacity:1; background:rgba(25,39,53,1.0);border: 1px solid #5C7589; border-bottom-color:#0B50A2; opacity:1; box-shadow: 0 0 4px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);-moz-box-shadow: 0 0 4px rgba(0,0,0,.4);}
#guideIndex .lBtn i, #guideIndex .rBtn i{ color:#eee; transform:scale(1.5); position:absolute; left:12px; top:22px; z-index:10;}
#guideIndex .lBtn a:hover i, #guideIndex .rBtn a:hover i{color:#fff;}
#guideIndex .rBtn {top:212px;}
#guideIndex .rBtn span{border-radius: 0 0 4px 0;}
#guideIndex .selected.lBtn span,#guideIndex .selected.rBtn span,#guideIndex .selected.lBtn a:hover span,#guideIndex .selected.rBtn a:hover span{opacity:1;background:#0C50A3; color:#fff;}


#guideIndex .mainTabDiv label{ position:absolute; left:10px; padding:8px 5px 0;color:#eee;}
#guideIndex .mainTabDiv label i{opacity:.5;}
#guideIndex .mainTab{margin-left:30px; /*margin-left:130px;width: 75%;*/width: 85%; height:38px; display: block; overflow: hidden; position: absolute; top:-1px; }
#guideIndex .mainTabDiv .tabDiv li a{line-height:38px;width:120px; padding:0; text-align:center; }

    
#guideIndex .textlinkb{ float:right; padding-right:20px; line-height:28px;}

#guideIndex a.previous,#guideIndex a.next{ position:absolute;  height:35px; width: 30px; top:0px; color:#8a9396;font-size:18px; cursor:pointer; opacity:.8;}
#guideIndex a.previous:hover,#guideIndex a.next:hover{color:#fff;opacity:1;}
#guideIndex .tabDiv a.previous{left:0px;/*left:115px;*/}
#guideIndex .tabDiv a.next{right:120px;}
#guideIndex .tabDiv a.previous i,#guideIndex .tabDiv a.next i{padding-left:12px; padding-top:8px;}
#guideIndex a.previous.disabled,#guideIndex a.next.disabled{opacity:.4;}
#guideIndex a.previous.disabled:hover,#guideIndex a.next.disabled:hover{color:#8a9396;opacity:.4;}

.table.table-big >thead>tr>td, .table.table-big >tbody>tr>td, .table.table-big >tfoot>tr>td{line-height:2.5}
.table-big td >input[type="checkbox"]{margin-top: 10px;}

.table-big .statusIcon i{font-size:18px;margin-top: 5px; margin-left: 5px;}

.table-big .jdt{height: 12px; margin: 10px 5px 10px 0; width:100px;}
.table-big .jdt span{height: 12px; }
.table-big .jdtText small{font-size:14px;}

div.swithBtnDiv{position:absolute;left:0;}
